<!DOCTYPE html>
<html>
  <body>
    <h2>Dear User,</h2>
    <p>you have change your account timezone, reset of your
        scheduler will (run,update) base on new timezone.</p>
    <table>
      <tr>
        <th>Type</th>
        <th>Detail</th>
      </tr>
      <tr>
        <td>Username</td>
        <td>${request.username}</td>
      </tr>
      <tr>
        <td>Scheduler TimeZone</td>
        <td>${request.timeZone}</td>
      </tr>
    </table>
  </body>
</html>