<!DOCTYPE html>
<html>
   <head>
      <style>
         table {
             font-family: arial, sans-serif;
             border-collapse: collapse;
             width: 100%;
         }
         td, th {
             border: 1px solid #dddddd;
             text-align: left;
             padding: 8px;
         }
      </style>
   </head>
   <body>
      <h4>Dear User,</h4>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your Source Job $request.get("job_id") for $request.get("time_slot") time stop.
         Please visit the site to view your job detail with queue event id $request.get("event_id").
      </p>
      <table>
         <tr>
            <th>Job Id</th>
            <th>Queue Id</th>
            <th>Status</th>
         </tr>
         <tr style="background-color: #dddddd;">
            <td>$request.get("job_id")</td>
            <td>$request.get("event_id")</td>
            <td>$request.get("status")</td>
         </tr>
      </table>
      <br>
      Thanks,<br>
      ETL Support Team.
   </body>
</html>