<!DOCTYPE html>
<html>
  <head>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <h2>Dear User,</h2>
    <p>You have successfully updated your profile.</p>
    <table>
      <tr>
        <th>Type</th>
        <th>Detail</th>
      </tr>
      <tr>
        <td>Username</td>
        <td>${request.username}</td>
      </tr>
      <tr>
        <td>FirstName</td>
        <td>${request.firstName}</td>
      </tr>
      <tr>
        <td>LastName</td>
        <td>${request.lastName}</td>
      </tr>
    </table>
  </body>
</html>